* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.auth-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Card */
.auth-card {
    background: white;
    padding: 45px;
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

.logo {
    text-align: center;
    margin-bottom: 5px;
    color: #111827;
}

.title {
    text-align: center;
    margin-bottom: 25px;
    color: #374151;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 14px;
    color: #374151;
}

input {
    margin-top: 5px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #2563eb;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.4);
}

/* Button */
.btn {
    margin-top: 25px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #111827;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #2563eb;
}

/* OTP Specific */
.otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.otp-inputs input {
    width: 45px;
    height: 55px;
    text-align: center;
    font-size: 20px;
}

.info {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 15px;
    text-align: center;
}

.resend {
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
}

.resend a {
    color: #2563eb;
    text-decoration: none;
}